div#menunav {
    width: 900px; /* çàäàåì øèðèíó äëÿ div */
    margin: 0 auto;
    border-top: 3px  solid  #660000;   /* ðèñóåì ëèíèþ ïîâåðõ div */
    border-bottom: 3px solid #660000;  /* ðèñóåì ëèíèþ ñíèçó div */
    border-left: 3px solid #660000;
    border-right: 3px solid #660000;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background-color: #ffffff;  /* ôîíîâûé öâåò div */
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#nazva {
    width: 900px; /* çàäàåì øèðèíó äëÿ div */
    height: 149px;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
    background: url(https://vostok-zapad.kharkov.ua/index_files/vostok-zapad.png) center top no-repeat;
	  position: relative;
	  background-color: #CC3300;  /* ôîíîâûé öâåò div */
}

div#kursy {
    font-size: 26px;  /* çàäàåì ðàçìåð øðèôòà */
    padding: 0 0 0 80px; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
    height: 33px;
}

div#backward {
    background: url(https://vostok-zapad.kharkov.ua/index_files/back.png) center top no-repeat;
    height: 30px;
    float: left;
}

div#morda_text {
    width: 870px;
    margin: 0 auto;
    font-size: 24px;


}

div#morda_text1 {
    width: 870px;
    margin: 0 auto;
    font-size: 22px;


}

div#footer {
    width: 900px; /* çàäàåì øèðèíó äëÿ div */
    height: 351px;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
    background: url(https://vostok-zapad.kharkov.ua/index_files/adres.png) center top no-repeat;
 	  background-color: #CC3300;  /* ôîíîâûé öâåò div */
	  position: relative;
}

div#menu {
    width: 894px; /* çàäàåì øèðèíó äëÿ div */
    height: 365px;
    margin: 0 auto;

    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#chinese {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/chinese-small.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#chinese1 {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/chinese-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#chinese:hover {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/chinese-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#english {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/english-small.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#english1 {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/english-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#english:hover {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/english-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#deutsch {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    float: left;
    margin: 0 auto;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/deutsch-small.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#deutsch1 {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    float: left;
    margin: 0 auto;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/deutsch-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}

div#deutsch:hover {
    width: 298px; /* çàäàåì øèðèíó äëÿ div */
    height: 349px;
    float: left;
    margin: 0 auto;
    font-size: 11px;  /* çàäàåì ðàçìåð øðèôòà */
    background: url(/index_files/deutsch-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* îòñòóï ul îò êðàÿ êîíòåéíåðà */
}
