div#menunav {
    width: 900px; /* задаем ширину для div */
    margin: 0 auto;
    border-top: 3px  solid  #660000;   /* рисуем линию поверх div */
    border-bottom: 3px solid #660000;  /* рисуем линию снизу div */
    border-left: 3px solid #660000;
    border-right: 3px solid #660000;
    font-size: 11px;  /* задаем размер шрифта */
    background-color: #ffffff;  /* фоновый цвет div */
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#nazva {
    width: 900px; /* задаем ширину для div */
    height: 149px;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
    background: url(https://vostok-zapad.kharkov.ua/index_files/vostok-zapad.png) center top no-repeat;
	  position: relative;
	  background-color: #CC3300;  /* фоновый цвет div */
}

div#kursy {
    font-size: 26px;  /* задаем размер шрифта */
    padding: 0 0 0 80px; /* отступ ul от края контейнера */
    height: 33px;
}

div#backward {
    background: url(https://vostok-zapad.kharkov.ua/index_files/back.png) center top no-repeat;
    height: 30px;
    float: left;
}

div#morda_text {
    width: 870px;
    margin: 0 auto;
    font-size: 24px;


}

div#morda_text1 {
    width: 870px;
    margin: 0 auto;
    font-size: 22px;


}

div#footer {
    width: 900px; /* задаем ширину для div */
    height: 351px;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
    background: url(https://vostok-zapad.kharkov.ua/index_files/adres.png) center top no-repeat;
 	  background-color: #CC3300;  /* фоновый цвет div */
	  position: relative;
}

div#menu {
    width: 894px; /* задаем ширину для div */
    height: 365px;
    margin: 0 auto;

    font-size: 11px;  /* задаем размер шрифта */
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#chinese {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/chinese-small.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#chinese1 {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/chinese-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#chinese:hover {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/chinese-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#english {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/english-small.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#english1 {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/english-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#english:hover {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    margin: 0 auto;
    float: left;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/english-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#deutsch {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    float: left;
    margin: 0 auto;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/deutsch-small.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#deutsch1 {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    float: left;
    margin: 0 auto;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/deutsch-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}

div#deutsch:hover {
    width: 298px; /* задаем ширину для div */
    height: 349px;
    float: left;
    margin: 0 auto;
    font-size: 11px;  /* задаем размер шрифта */
    background: url(https://vostok-zapad.kharkov.ua/index_files/deutsch-middle.png) center bottom no-repeat;
    padding: 0 0 0 0; /* отступ ul от края контейнера */
}
